---
import Navbar from "../components/layout/Navbar.tsx";
import Footer from "../components/layout/Footer.tsx";
const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <!-- SEO -->
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
